Click
dash
dash-core-components
dash-bootstrap-components
dash-dangerously-set-inner-html
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
itsdangerous
Jinja2
MarkupSafe
plotly
retrying
six
Werkzeug
dash_daq
dash-extensions

# Application
smbus
picamera
numpy
opencv-contrib-python
opencv-python
psutil
RPi.GPIO
